<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
    <title>@ViewBag.Title</title>

    @HTML.CSS("screen.css",null)
    @HTML.CSS("print.css","print")
    <!--[if lt IE 8]>
        @HTML.CSS("ie.css",null)
    <![endif]-->
    @HTML.CSS("plugins/fancy-type/screen.css",null)
    @HTML.CSS("site.css",null)
    @HTML.JS("jquery-1.7.1.min.js")
    @HTML.JS("jquery-ui-1.8.20.min.js")
    @HTML.CSS("plugins/smoothness/jquery-ui-1.9.1.custom.min.css",null)
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>

<div class="container">
    <div id="header" class="span-18 first">
        <h1 class="alt">@Html.ActionLink("Concessions Portal", "Index", "Home")</h1>
    </div> 
    <div id="nav" class="span-6 last right-align">
        <strong>User:</strong> @HttpContext.Current.User.Identity.Name<br />
        @Html.ActionLink("Configuration", "Index", "Configuration")
    </div>
    <div id="content" class="span-24 last">
        @RenderBody()
    </div>      
</div>

</body>
</html>
